In [15]:
import pandas as pd

In [16]:
cres_df = pd.read_csv('Real_Estate_Sales_2001-2021_GL.csv', low_memory=False)
cres_df.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,210317,2021,07/05/2022,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.4096,Residential,Single Family,NaN,NaN,NaN,POINT (-72.846365959 41.781677018)
3,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
4,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN

### Change column names to lower case and remove the whitespace

In [17]:
cres_df.columns = (cres_df.columns
                   .str.lower()
                   .str.replace(' ','_')
                   )
cres_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054159 entries, 0 to 1054158
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   serial_number     1054159 non-null  int64
 1   list_year         1054159 non-null  int64
 2   date_recorded     1054157 non-null  object
 3   town              1054159 non-null  object
 4   address           1054108 non-null  object
 5   assessed_value    1054159 non-null  float64
 6   sale_amount       1054159 non-null  float64
 7   sales_ratio       1054159 non-null  float64
 8   property_type     671713 non-null   object
 9   residential_type  660275 non-null   object
 10  non_use_code      302242 non-null   object
 11  assessor_remarks  161472 non-null   object
 12  opm_remarks       11564 non-null    object
 13  location          254643 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 112.6+ MB

### Check for duplicate entries

In [18]:
duplicates = (cres_df
              .duplicated(['serial_number'])
              .sum()
              )
duplicates

963286

In [19]:
## Drop duplicates
cres_deduped = (cres_df
                .drop_duplicates(['serial_number','address'])
                )
cres_deduped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1054078 entries, 0 to 1054158
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   serial_number     1054078 non-null  int64
 1   list_year         1054078 non-null  int64
 2   date_recorded     1054076 non-null  object
 3   town              1054078 non-null  object
 4   address           1054032 non-null  object
 5   assessed_value    1054078 non-null  float64
 6   sale_amount       1054078 non-null  float64
 7   sales_ratio       1054078 non-null  float64
 8   property_type     671704 non-null   object
 9   residential_type  660266 non-null   object
 10  non_use_code      302197 non-null   object
 11  assessor_remarks  161471 non-null   object
 12  opm_remarks       11564 non-null    object
 13  location          254639 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 120.6+ MB

### Check for null entries

In [20]:
nulls = (cres_deduped
         .isna()
         .sum()
         )
nulls

serial_number             0
list_year                 0
date_recorded             2
town                      0
address                  46
assessed_value            0
sale_amount               0
sales_ratio               0
property_type        382374
residential_type     393812
non_use_code         751881
assessor_remarks     892607
opm_remarks         1042514
location             799439
dtype: int64

I'll only drop nulls in the `date_recorded` and `address`

In [21]:
## Drop null values
cres_denulled = cres_deduped.dropna(subset=['date_recorded', 'address'])
cres_denulled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1054032 entries, 0 to 1054158
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   serial_number     1054032 non-null  int64
 1   list_year         1054032 non-null  int64
 2   date_recorded     1054032 non-null  object
 3   town              1054032 non-null  object
 4   address           1054032 non-null  object
 5   assessed_value    1054032 non-null  float64
 6   sale_amount       1054032 non-null  float64
 7   sales_ratio       1054032 non-null  float64
 8   property_type     671700 non-null   object
 9   residential_type  660262 non-null   object
 10  non_use_code      302154 non-null   object
 11  assessor_remarks  161470 non-null   object
 12  opm_remarks       11564 non-null    object
 13  location          254634 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 120.6+ MB

### Creating datasets based on the needs of analysis

In [22]:
## Select columns related to general sales 
sales_data = cres_denulled.iloc[:,:8]
sales_data.head()

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883
2,210317,2021,07/05/2022,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.4096
3,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248
4,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958

In [23]:
## Select columns related to property
property_data = cres_denulled.iloc[:, [0,2,3,8,9,6]].dropna()
property_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 660262 entries, 1 to 1054157
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   serial_number     660262 non-null  int64
 1   date_recorded     660262 non-null  object
 2   town              660262 non-null  object
 3   property_type     660262 non-null  object
 4   residential_type  660262 non-null  object
 5   sale_amount       660262 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 35.3+ MB

In [24]:
## Select columns related to location
location_data = cres_denulled.iloc[:, [2,13,6]].dropna()
location_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 254634 entries, 2 to 1054152
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date_recorded  254634 non-null  object
 1   location       254634 non-null  object
 2   sale_amount    254634 non-null  float64
dtypes: float64(1), object(2)
memory usage: 7.8+ MB

### Clean the location data

In [25]:
# write a function to extract lat and long columns
def lat_long_extraction(location = location_data['location']):
    location = location[7:-1]
    latitude,longitude = location.split()
    return float(latitude), float(longitude)

location_data['latitude'],location_data['longitude'] = zip(*location_data['location'].apply(lat_long_extraction))
location_data = location_data[['latitude','longitude','sale_amount']]
location_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 254634 entries, 2 to 1054152
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   latitude     254634 non-null  float64
 1   longitude    254634 non-null  float64
 2   sale_amount  254634 non-null  float64
dtypes: float64(3)
memory usage: 7.8 MB

### Data type conversion

In [26]:
## Sales data
sales_data = (sales_data
              .assign(
                  serial_number = sales_data.serial_number.astype('int32'),
                  address = sales_data.address.str.title(),
                  list_year = sales_data.list_year.astype('int32'),
                  date_recorded = lambda x: pd.to_datetime(x.date_recorded),
                  assessed_value = sales_data.assessed_value.astype('int32'),
                  sale_amount = sales_data.sale_amount.astype('int32'),
                  sales_ratio = sales_data.sales_ratio.astype('float32').round(2)
                  )
              )
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1054032 entries, 0 to 1054158
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   serial_number   1054032 non-null  int32
 1   list_year       1054032 non-null  int32
 2   date_recorded   1054032 non-null  datetime64[ns]
 3   town            1054032 non-null  object
 4   address         1054032 non-null  object
 5   assessed_value  1054032 non-null  int32
 6   sale_amount     1054032 non-null  int32
 7   sales_ratio     1054032 non-null  float32
dtypes: datetime64[ns](1), float32(1), int32(4), object(2)
memory usage: 52.3+ MB

In [27]:
## property data
property_data = (property_data
                 .assign(
                     serial_number = property_data.serial_number.astype('int32'),
                     date_recorded = lambda x: pd.to_datetime(x.date_recorded),
                     sale_amount = property_data.sale_amount.astype('int32')
                     )
                 )
property_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 660262 entries, 1 to 1054157
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   serial_number     660262 non-null  int32
 1   date_recorded     660262 non-null  datetime64[ns]
 2   town              660262 non-null  object
 3   property_type     660262 non-null  object
 4   residential_type  660262 non-null  object
 5   sale_amount       660262 non-null  int32
dtypes: datetime64[ns](1), int32(2), object(3)
memory usage: 30.2+ MB

### Export data

In [28]:
property_data.to_csv('property_data.csv', index=False)
sales_data.to_csv('sales_data.csv', index=False)
location_data.to_csv('location_data.csv', index=False)